// Open Sans
@font-face {
  font-family: 'opensans-regular';
  src: url('fonts/opensans/OpenSans-Regular-webfont.eot');
  src: url('fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-italic';
  src: url('fonts/opensans/OpenSans-Italic-webfont.eot');
  src: url('fonts/opensans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-Italic-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-Italic-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-light';
  src: url('fonts/opensans/OpenSans-Light-webfont.eot');
  src: url('fonts/opensans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-Light-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-Light-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-light-italic';
  src: url('fonts/opensans/OpenSans-LightItalic-webfont.eot');
  src: url('fonts/opensans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-LightItalic-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-LightItalic-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-semibold';
  src: url('fonts/opensans/OpenSans-Semibold-webfont.eot');
  src: url('fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-semibold-italic';
  src: url('fonts/opensans/OpenSans-SemiboldItalic-webfont.eot');
  src: url('fonts/opensans/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-bold';
  src: url('fonts/opensans/OpenSans-Bold-webfont.eot');
  src: url('fonts/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-Bold-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-Bold-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-bold-italic';
  src: url('fonts/opensans/OpenSans-BoldItalic-webfont.eot');
  src: url('fonts/opensans/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-BoldItalic-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-extrabold';
  src: url('fonts/opensans/OpenSans-ExtraBold-webfont.eot');
  src: url('fonts/opensans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-ExtraBold-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-extrabold-italic';
  src: url('fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot');
  src: url('fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Libre Baskerville
@font-face {
  font-family: 'librebaskerville-bold';
  src: url('fonts/librebaskerville/librebaskerville-bold-webfont.eot');
  src: url('fonts/librebaskerville/librebaskerville-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/librebaskerville/librebaskerville-bold-webfont.woff') format('woff'),
  url('fonts/librebaskerville/librebaskerville-bold-webfont.ttf') format('truetype'),
  url('fonts/librebaskerville/librebaskerville-bold-webfont.svg#libre_baskervillebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'librebaskerville-italic';
  src: url('fonts/librebaskerville/librebaskerville-italic-webfont.eot');
  src: url('fonts/librebaskerville/librebaskerville-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/librebaskerville/librebaskerville-italic-webfont.woff') format('woff'),
  url('fonts/librebaskerville/librebaskerville-italic-webfont.ttf') format('truetype'),
  url('fonts/librebaskerville/librebaskerville-italic-webfont.svg#libre_baskervilleitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'librebaskerville-regular';
  src: url('fonts/librebaskerville/librebaskerville-regular-webfont.eot');
  src: url('fonts/librebaskerville/librebaskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/librebaskerville/librebaskerville-regular-webfont.woff') format('woff'),
  url('fonts/librebaskerville/librebaskerville-regular-webfont.ttf') format('truetype'),
  url('fonts/librebaskerville/librebaskerville-regular-webfont.svg#libre_baskervilleregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// FIXED for Font-Face Chrome Rendering
@media screen and (-webkit-min-device-pixel-ratio:0) {

  @font-face {
    font-family: 'opensans-semibold';
    src: url('fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  }

  @font-face {
    font-family: 'opensans-bold';
    src: url('fonts/opensans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  }

}

// Fontello
@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/fontello.eot?13439518');
  src: url('fonts/fontello/fontello.eot?13439518#iefix') format('embedded-opentype'),
  url('fonts/fontello/fontello.woff?13439518') format('woff'),
  url('fonts/fontello/fontello.ttf?13439518') format('truetype'),
  url('fonts/fontello/fontello.svg?13439518#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail-1:before { content: '\e807'; } /* '' */
.icon-up-circle:before { content: '\e80c'; } /* '' */
.icon-down-circle-1:before { content: '\e80d'; } /* '' */
.icon-left-circle-1:before { content: '\e80e'; } /* '' */
.icon-right-circle-1:before { content: '\e80f'; } /* '' */
.icon-up-circle-1:before { content: '\e810'; } /* '' */
.icon-mail-2:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-down-circle:before { content: '\e809'; } /* '' */
.icon-left-circle:before { content: '\e80a'; } /* '' */
.icon-right-circle:before { content: '\e80b'; } /* '' */
.icon-down-open:before { content: '\e800'; } /* '' */

// Font Awesome
@import "libs/font-awesome/font-awesome";