a {
  text-decoration: none;
  outline: 0;
  color: #11ABB0;
  @include prefixer(transition, color 0.3s ease-in-out, webkit moz o spec);
  &:visited {
    text-decoration: none;
    outline: 0;
    color: #11ABB0;
    @include prefixer(transition, color 0.3s ease-in-out, webkit moz o spec);
  }
  &:hover, &:focus {
    color: #313131;
  }
}

p a {
  line-height: inherit;
  &:visited {
    line-height: inherit;
  }
}