.button {
  font: 16px / 30px "opensans-bold", sans-serif;
  background: #0088CC;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0;
  color: #fff;
  padding: 12px 20px;
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
  height: auto;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

button {
  font: 16px / 30px "opensans-bold", sans-serif;
  background: #0088CC;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0;
  color: #fff;
  padding: 12px 20px;
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
  height: auto;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

input {
  &[type="submit"], &[type="reset"], &[type="button"] {
    font: 16px / 30px "opensans-bold", sans-serif;
    background: #0088CC;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0;
    color: #fff;
    padding: 12px 20px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    height: auto;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
  }
}

.button:hover, button:hover {
  background: #3d4145;
  color: #fff;
}

input {
  &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover {
    background: #3d4145;
    color: #fff;
  }
}

.button:active, button:active {
  background: #3d4145;
  color: #fff;
}

input {
  &[type="submit"]:active, &[type="reset"]:active, &[type="button"]:active {
    background: #3d4145;
    color: #fff;
  }
}

.button.full-width, button.full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

.button.half-width, button-half-width {
  width: 50%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

input {
  &[type="submit"].full-width, &[type="reset"].full-width, &[type="button"].full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
  }
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}