form, fieldset {
  margin-bottom: 24px;
}

input {
  &[type="text"], &[type="password"], &[type="email"] {
    display: block;
    padding: 18px 20px;
    margin: 0 0 24px 0;
    border: 0;
    outline: none;
    vertical-align: middle;
    min-width: 225px;
    max-width: 100%;
    font-size: 15px;
    line-height: 24px;
    color: $white;
    background: #444;
  }
}

textarea, select {
  display: block;
  padding: 18px 15px;
  margin: 0 0 24px 0;
  border: 0;
  outline: none;
  vertical-align: middle;
  min-width: 225px;
  max-width: 100%;
  font-size: 15px;
  line-height: 24px;
  color: $white;
  background: #444;
}

input {
  &[type="text"]:focus, &[type="password"]:focus, &[type="email"]:focus {
    color: #fff;
    background-color: #0088CC;
  }
}

textarea {
  &:focus {
    color: #fff;
    background-color: #0088CC;
  }
  min-height: 220px;
}

label, legend {
  font: 16px / 24px "opensans-bold", sans-serif;
  margin: 12px 0;
  color: #3d4145;
  display: block;
}

label span, legend span {
  color: #8B9798;
  font: 14px / 24px "opensans-regular", sans-serif;
}

input {
  &[type="checkbox"], &[type="radio"] {
    font-size: 15px;
    color: #737373;
  }
  &[type="checkbox"] {
    display: inline;
  }
}