img {
  max-width: 100%;
  height: auto;

  &.pull-right {
    margin: 12px 0px 0px 18px;
  }

  &.pull-left {
    margin: 12px 18px 0px 0px;
  }

  &.main, &.blog-image, &.highlight {
    border: 1px solid #0f0f0f;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.8);
  }

  &.wp-post-image {
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.8);
  }
}

iframe {
  &.main {
    background: $white;
    overflow: hidden;
    position: relative;
    border: 1px solid #0f0f0f;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.8);
    @include prefixer(transition, all 0.3s ease-in-out, webkit moz o ms spec);
  }
}