// Typography
$text-on-dark: #7A7A7A;
$text-on-light: #737373;
$text-headers: #313131;
$text-nav: #FFFFFF;
$link: #0088CC;
$link-on-dark-hover: #FFFFFF;
$link-on-light-hover: #313131;

// Backgrounds
$background-white: #FFFFFF;
$background-body-dark: #2B2B2B;
$background-body-light: #FEFEFE;
$background-nav: #333333;
$background-footer: #303030;
$background-button-dark: #0D0D0D;
$background-button-light: #444444;
$background-input: #EAEBEC;

// Borders
$border-input: #DDDFDF;
$border-divider: #E3E3E3;

// Others
$orange: #F06000;
$green: #7AA300;
$white: #FFFFFF;